n8n/workflows/incident_to_postmortem.json
{
  "name": "Polymarket - Incident to Post-Mortem",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "polymarket/incident",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-incident",
      "name": "Webhook - Incident",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "polymarket-incident"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.POLYBOT_API_URL || 'http://api:8000') + '/webhooks/incident' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-automation-secret",
              "value": "={{ $env.POLYBOT_AUTOMATION_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.title, severity: $json.severity || 'medium', body: $json.body || $json.message, metadata: $json.metadata || {} } }}"
      },
      "id": "call-polybot-incident",
      "name": "Call Polybot Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-incident",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Webhook - Incident": {
      "main": [
        [
          {
            "node": "Call Polybot Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Polybot Incident": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

