n8n/workflows/market_alert_to_obsidian.json
{
  "name": "Polymarket - Market Alert to Obsidian",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "polymarket/market-alert",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-market-alert",
      "name": "Webhook - Market Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "polymarket-market-alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.POLYBOT_API_URL || 'http://api:8000') + '/webhooks/market-alert' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-automation-secret",
              "value": "={{ $env.POLYBOT_AUTOMATION_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.title, market_id: $json.market_id || null, severity: $json.severity || 'info', message: $json.message, metadata: $json.metadata || {} } }}"
      },
      "id": "call-polybot-market-alert",
      "name": "Call Polybot Market Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-market-alert",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Webhook - Market Alert": {
      "main": [
        [
          {
            "node": "Call Polybot Market Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Polybot Market Alert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

