n8n/workflows/research_webhook_to_note.json
{
  "name": "Polymarket - Research Webhook to Obsidian Note",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "polymarket/research-note",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-research-note",
      "name": "Webhook - Research Note",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "polymarket-research-note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.POLYBOT_API_URL || 'http://api:8000') + '/automation/notes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-automation-secret",
              "value": "={{ $env.POLYBOT_AUTOMATION_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { folder: $json.folder || 'Ideas', title: $json.title, body: $json.body, metadata: $json.metadata || {}, overwrite: Boolean($json.overwrite) } }}"
      },
      "id": "call-polybot-create-note",
      "name": "Call Polybot Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-research-note",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Webhook - Research Note": {
      "main": [
        [
          {
            "node": "Call Polybot Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Polybot Create Note": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

