n8n/workflows/twitter_threads_to_obsidian.json
{
  "name": "Polymarket - Twitter Threads to Obsidian",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "polymarket/twitter-threads/import",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-twitter-threads",
      "name": "Webhook - Twitter Threads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "polymarket-twitter-threads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.POLYBOT_API_URL || 'http://api:8000') + '/automation/twitter-threads/import' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-automation-secret",
              "value": "={{ $env.POLYBOT_AUTOMATION_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { source_path: $json.source_path || null, overwrite: Boolean($json.overwrite) } }}"
      },
      "id": "call-polybot-thread-import",
      "name": "Call Polybot Thread Import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-twitter-import",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Webhook - Twitter Threads": {
      "main": [
        [
          {
            "node": "Call Polybot Thread Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Polybot Thread Import": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

